*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    place-items: center;
    background-color:rgb(233, 156, 105);
    height: 100vh;
    
}
.hide{
    display: none;
}
.main{
    position: fixed;
    left:10px;
    top:10px;
    background-color: rgb(153, 58, 58);
    /* height: 900px; */
    height: 97%;
    width: 95%;
    z-index: 1;
}
.logo{
    position: relative;
    /* top:30px;
    left:15px;
    height: 10%; */
    width:100%;
    z-index: 2;
}
.lambo{
    position: fixed;
    left:110px;
    bottom:810px;
    font-family: 'Cabin', sans-serif;
    font-size: 40px;
    color: rgb(233, 156, 105);
    z-index: 3;
}
.bar{
    position: relative;
    right:140px;
    top: 10px;
    background-color: rgb(119, 58, 131);
    height: 50px;
    width: 80px;
    border-radius: 20px;
    z-index: 4;
}
/* .home{
    position: relative;
    left:40px;
    bottom:25px;
    color: rgb(54, 54, 54);
    font-family: 'Cabin', sans-serif;
    font-size: 15px;
    font-weight: 900;
    z-index:5;
} */
.bar:hover{
    border: 2px rgb(119, 58, 131) solid;
    background-color:WHITE ;
}
.growth:hover{
    color:white;
}
.bus:hover{
    -webkit-text-stroke: 1px rgb(233, 156, 105)
}
.lambo:hover{
    color: white;
}
.cave:hover{
    opacity: 50% ;
    color: orange;
}
/* .store{
    position: relative;
    right:-130px;
    bottom:40px;
    color: rgb(233, 156, 105);
    font-family: 'Cabin', sans-serif;
    font-size: 15px;
    font-weight: 900;
    z-index:6; 
}
.contact{
    position: relative;
    right:-210px;
    bottom:58px;
    color: rgb(233, 156, 105);
    font-family: 'Cabin', sans-serif;
    font-size: 15px;
    font-weight: 900;
    z-index:7; 
}
.about{
    position: relative;
    right:-310px;
    bottom:75px;
    color: rgb(233, 156, 105);
    font-family: 'Cabin', sans-serif;
    font-size: 15px;
    font-weight: 900;
    z-index:8; 
} */
.bus{
    position: relative;
    right:-20px;
    bottom:55px;
    color: transparent;
    font-family: 'Cabin', sans-serif;
    font-size: 65px;
    -webkit-text-stroke: 1px white;
    font-weight: 900;
    
    z-index:9; 
}.growth{
    position: relative;
    right:-20px;
    bottom:55px;
    color: rgb(233, 156, 105);
    font-family: 'Cabin', sans-serif;
    font-size: 65px;
    font-weight: 900;
    z-index:10;  
}
.cave{
    position: relative;
    /* top:70px;
    left:20px;
    height: 40%; */
    width: 100%;
    z-index: 11;
    border-radius: 20px;
/}.ad{
    position: fixed;
    right:25px;
    bottom:500px;
    color: white;
    font-family: 'Cabin', sans-serif;
    font-size: 13px;
    font-weight: 900;
    z-index:12;  
}
.end{
    position: fixed;
    right:235px;
    bottom:50px;
    color: white;
    font-family: 'Cabin', sans-serif;
    font-size: 13px;
    font-weight: 900;
    z-index:13; 
}
a{
    color: white;
    text-decoration: none;
}
a:hover{
    color:rgb(233, 156, 105);   
}
.icon{
    width:20%;
    position: fixed;
    right:320px;
    top:30px;
}
.car{
    width:90%;
    position: fixed;
    right: 22px;
    bottom: 90px;
}
.navigate{
    position: fixed;
    right:-35px;
    bottom:750px;
    display:flex;
    color: rgb(233, 156, 105);
    font-family: 'Cabin', sans-serif;
    font-weight: bolder;
    width: 100%;
    gap: 30px;
}
.food{
    position: fixed;
    top:220px;
    
    gap: 10px;
}
.code{
    position:fixed;
    left:20px;
    top:830px;
}
.qr{
    height: 40px;
}
.mk{
    position:fixed;
    top:825px;
    left:350px;
}
.mark{
    height:50px;}